.button {
  display: inline-block;
  font-size: var(--text-body);
  line-height: var(--lh-body);
  font-weight: var(--fw-medium);
  height: 40px;
  padding: 8px 16px;
  border: solid 1px transparent;
  border-radius: var(--radius-xs);
  text-align: center;
}

.button--primary {
  color: var(--color-surface);
  background: var(--color-primary);
  border-color: var(--color-primary);
}

.button--primary:hover,
.button--primary:focus {
  opacity: 0.8;
}

.button--secondary {
  border-color: var(--color-primary);
  background: var(--color-surface);
  color: var(--color-primary);
}

.button--secondary:hover,
.button--secondary:focus {
  background-color: rgb(from var(--color-primary) r g b / 10%);
}

.button--ghost {
  color: var(--color-primary);
  height: fit-content;
  padding: 0;
  border: none;
}

.button--ghost:hover {
  opacity: 0.8;
}

.button:disabled {
  background: var(--color-border);
  border-color: var(--color-border);
}
