.json-form {
  margin-top: 32px;
}

.json-form__label {
  padding-left: 12px;
  display: inline-block;
}

.json-form__textarea {
  width: 100%;
  height: 240px;
  padding: 12px;
  box-shadow: var(--shadow-e1);
  border: solid 1px var(--color-border);
  border-radius: var(--radius-sm);
}

.json-form__textarea::placeholder {
  color: var(--color-text-secondary);
}

.json-form__textarea:focus {
  border: solid 1px var(--color-primary);
}

.json-form__textarea--error {
  border: solid 1px var(--color-error);
}

.json-form__submit {
  margin-top: 20px;
}

@media (max-width: 400px) {
  .json-form__submit {
    width: 100%;
  }
}
