.toast-container {
  position: fixed;
  top: 16px;
  right: 16px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  z-index: 100;
  max-width: 400px;
}

.toast {
  border: 1px solid var(--color-error);
  border-radius: var(--radius-sm);
  background: var(--color-surface);
}

.toast__content {
  padding: 16px;
  background: rgb(from var(--color-error) r g b / 5%);
}

.toast__close {
  margin-top: 16px;
}

.toast__message {
  margin-top: 4px;
  white-space: pre-wrap;
  word-break: break-word;
}

@media (max-width: 480px) {
  .toast-container {
    left: 16px;
    right: 16px;
    max-width: none;
  }
}
