.quiz-generator {
  max-width: var(--max-content-width-desktop);
  margin: 100px auto;
  width: 100%;
  height: 400px;
}

.quiz-generator__subtitle {
  color: var(--color-text-secondary);
}

@media (max-width: 768px) {
  .quiz-generator {
    max-width: var(--max-width-tablet);
  }
}
